<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <!--公共css与js文件-->
    <th:block th:include="front/common/common_resource::resources"/>
    <title>关于我们</title>
    <link th:href="@{/css/about.css}" rel="stylesheet" type="text/css"/>
    <script th:src="@{/goodsdetail/jquery-1.7.2.min.js}"></script>
</head>
<body>
<!-- 导航栏 -->
<th:block th:include="front/common/header::nav"/>

<div class="container about-page">
    <div class="main-part">
        <div class="module">
            <h2 class="module-header">公司简介</h2>
            <div class="module-body">
                <div class="about_con">
                    重庆爱之名文化传播有限公司——特一求婚策划公司（<a href="http://www.telllove520.com">www.telllove520.com</a>），于2014年正式成立，是国内拥有独立商标的求婚策划公司。特一始终专注于打造普通大众也有能力消费的浪漫、创意求婚策划，全面颠覆传统送钻戒鲜花的求婚方式。截至2015年8月，特一已经服务近万对情侣，获得广大消费者好评。目前特一服务范围已经涵盖中国：北京、上海、重庆、天津、成都、武汉、长沙、合肥、杭州、南京、厦门、广州、深圳、香港等60多个城市求婚策划服务；东南亚/南亚：普吉岛、巴厘岛、沙巴岛、塞班岛、不丹、马尔代夫等以及欧美国家众多城市旅游求婚策划服务。<br>
                    <br>
                    特一以“创新浪漫，颠覆传统”为使命，为消费者提供1000多种浪漫产品，涵盖求婚策划、表白策划、纪念日策划、道歉策划、生日派对、宝宝宴策划、节日活动策划等策划服务；爱情微电影/电子相册/沙画视频/动画/MV拍摄等电子产品；私人约会定制、电梯惊喜海报、个性鲜花定制等特色产品。<br>
                    <br>
                    专业策划师设计浪漫，专业执行团队实现浪漫，专业摄像师记录浪漫，专业演艺人员烘托浪漫……您的爱，特一为您完美呈现！
                    <h2>
                        <span style="color:#008000;"><strong>2015年大事记</strong></span></h2>
                    2015年8月，特一求婚策划沈阳、大连、哈尔滨、大庆、长春分公司开业；<br>
                    2015年7月，特一求婚策划石家庄、邯郸、廊坊分公司开业；<br>
                    2015年7月，特一求婚策划郑州、开封、太原分公司开业；<br>
                    2015年6月，特一哈尔滨、大庆、长春求婚策划官网上线；<br>
                    2015年6月，特一求婚策划济南、青岛、潍坊、淄博、东营分公司开业；<br>
                    2015年6月，特一沈阳、大连求婚策划官网上线；<br>
                    2015年5月，特一石家庄、邯郸、廊坊求婚策划官网上线；<br>
                    2015年5月，特一求婚策划长沙、湘潭、株洲分公司开业<br>
                    2015年5月，特一郑州、开封、太原求婚策划官网上线；<br>
                    2015年4月，特一南昌、徐州、盐城、宿州、武汉、宜昌、荆州分公司开业；<br>
                    2015年4月，特一济南、青岛、潍坊、淄博、东营求婚策划官网上线；<br>
                    2015年4月，特一长沙、湘潭、株洲求婚策划官网上线；<br>
                    2015年3月，生日派对策划服务正式开通；<br>
                    2015年3月，特一求婚策划合肥、芜湖分公司开业；<br>
                    2015年3月，特一求婚策划南京、无锡、常州、扬州分公司开业；<br>
                    2015年3月，特一武汉、宜昌、荆州求婚策划官网上线；<br>
                    2015年2月，荣获年度优秀情人节求婚策划机构奖<br>
                    2015年2月，特一南昌、徐州、盐城、宿州求婚策划官网上线；<br>
                    2015年2月，特一求婚策划宁波、义乌、台州、绍兴分公司开业；<br>
                    2015年1月，特一合肥、芜湖求婚策划官网上线；<br>
                    2015年1月，特一求婚策划公司杭州、苏州、温州分公司开业；<br>
                </div>            </div>
        </div>
    </div>
</div>
<th:block th:include="front/common/footer::foot"/>
<script>$(".navbar").css("min-height","0px");</script>
</body>
</html>