<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>用户中心</title>
    <th:block th:include="front/common/common_resource :: resources"/>

    <!-- 动态泡泡 -->
    <link th:href="@{/css/jquery.toolbar.css}" href="../../static/css/jquery.toolbar.css" rel="stylesheet"/>
    <link th:href="@{/css/documentation.css}" href="../../static/css/documentation.css" rel="stylesheet"/>
    <script th:src="@{/jquery/jquery.toolbar.js}" src="../../static/jquery/jquery.toolbar.js"></script>
    <script th:src="@{/js/front/user_center.js}" src="../../static/js/front/user_center.js"></script>
    <!--<script src="../../static/js/front/search.js" th:src="@{/js/front/search.js}"></script>-->
    <!-- 相册js引入 -->
    <script src="../../static/jquery/ekko-lightbox.min.js" th:src="@{/jquery/ekko-lightbox.min.js}"></script>
    <script th:inline="javascript">
        var type = /*[[${type}]]*/'';
    </script>
    <!-- 引入bootstrap fileinput -->
    <link th:href="@{/plugins/fileinput/css/fileinput.css}" href="../../static/plugins/fileinput/css/fileinput.css"
          rel="stylesheet"/>
    <script th:src="@{/plugins/fileinput/js/fileinput.js}"
            src="../../static/plugins/fileinput/js/fileinput.js"></script>
    <script th:src="@{/plugins/fileinput/js/locales/zh.js}"
            src="../../static/plugins/fileinput/js/locales/zh.js"></script>
    <link type="text/css" rel="stylesheet" th:href="@{/css/myorder.css}">
    <!--引入My97DatePicker日期组件的js文件 -->
    <script type="text/javascript" th:src="@{/plugins/My97DatePicker/WdatePicker.js}"> </script>
</head>
<body>
<th:block th:include="front/common/header::nav"/>
<div class="grid_3">
    <div class="container">
        <div class="breadcrumb1">
            <ul>
                <i class="fa fa-cog home_1"></i>
                <span class="divider">&nbsp;|&nbsp;</span>
                <li class="current-page">个人资料设置</li>
            </ul>
        </div>
        <div class="col-md-3 col_5">
            <div class="menu">
                <div class="photo-message">
                    <div class="img-div" data-toggle="modal" data-target="#myImg">
                        <img id="head-sculpture" th:src="@{/file(path=${session.user.photo})}" class="img-circle"  src="../../static/images/1.jpg">
                    </div>
                    <div class="short-message">
                        <a th:href="@{'/profile/'+${session.user.id}}" th:text="${session.user.nickname}">看云水漂流</a>
                        <!-- 开通vip之后显示一下页面 -->
                        <img th:hidden="${vipDate==null ||  vipDate==0}" th:src="@{/images/vip.png}"
                             src="../../static/images/vip.png" data-toolbar="vip-toolbar" data-toolbar-animation="grow"
                             class="message-flag" data-toolbar-style="warning">
                        <img th:hidden="${starDate==null ||  starDate==0}" th:src="@{/images/star-0.png}"
                             src="../../static/images/star-0.png" data-toolbar="star-toolbar"
                             data-toolbar-animation="grow"
                             class="message-flag" data-toolbar-style="warning">

                        <!-- 未开通vip之后显示一下页面 -->
                        <img th:hidden="${vipDate!=null && vipDate!=0}" th:src="@{/images/vip-grey.png}"
                             src="../../static/images/vip.png" class="message-flag">
                        <img th:hidden="${starDate!=null && starDate!=0}" th:src="@{/images/star-0-grey.png}"
                             src="../../static/images/star-0.png" class="message-flag">
                        <!--光标放到上面两个img控件后显示的内容-->
                        <div id="vip-deadline" class="hidden">
                            <a href="javascript:void(0)" style="width: auto;height: auto;color: white"
                               th:text="${'剩余时间：'+vipDate+'天'}">剩余时间：29天11小时</a>
                        </div>
                        <div id="star-deadline" class="hidden">
                            <a href="javascript:void(0)" style="width: auto;height: auto;color: white"
                               th:text="${'剩余时间：'+ starDate + '天'}">剩余时间：29天11小时</a>
                        </div>
                    </div>
                    <div class="short-message">
                        <p th:text="${'ID：'+session.user.id}">ID：10000001</p>
                    </div>
                    <div class="short-message">


                        <!--<img data-toolbar="transport-options" data-toolbar-animation="grow"
                             id="vipimg" src="../../static/images/vip.png" class="flag">
                        <img src="../../static/images/star-1.png" class="flag">-->

                    </div>
                    <!--<div class="short-message">-->
                        <!--<p>牵手币余额：<span style="color: #ff8e42" th:text="${asset}">50</span></p>-->
                    <!--</div>-->
                </div>
                <div class="list-group panel-message" id="left_list">
                    <!--<a role="tab" class="list-group-item left-pane" href="#assetPanel" id="asset-tab" data-toggle="tab"-->
                       <!--aria-controls="basicPanel">牵手币充值</a>-->
                    <a role="tab" class="list-group-item left-pane" href="#basicPanel" id="basic-tab" data-toggle="tab"
                       aria-controls="basicPanel">基本资料</a>
                    <!--<a role="tab" class="list-group-item left-pane" href="#morePanel" id="more-tab" data-toggle="tab"-->
                       <!--aria-controls="morePanel">详细资料</a>-->
                    <!--<a role="tab" class="list-group-item left-pane" href="#workPanel" id="work-tab" data-toggle="tab"-->
                       <!--aria-controls="workPanel">工作生活</a>-->
                    <!--<a role="tab" class="list-group-item left-pane" href="#marryPanel" id="marry-tab" data-toggle="tab"-->
                       <!--aria-controls="marryPanel">婚姻观</a>-->
                    <!--<a role="tab" class="list-group-item left-pane" href="#photoPanel" id="photo-tab" data-toggle="tab"-->
                       <!--aria-controls="photoPanel">我的相册</a>-->
                    <!--<a role="tab" class="list-group-item left-pane" href="#identityPanel" id="identity-tab"-->
                       <!--data-toggle="tab"-->
                       <!--aria-controls="identityPanel">身份认证</a>-->
                    <a role="tab" class="list-group-item left-pane" href="#orderPanel" id="order-tab" data-toggle="tab"
                       aria-controls="otherPanel">我的订单</a>
                    <a role="tab" class="list-group-item left-pane" href="#settingPanel" id="setting-tab"
                       data-toggle="tab"
                       aria-controls="otherPanel">系统设置</a>
                </div>
            </div>
        </div>
        <div id="mytab" class="col-md-9 tab-content tab-big">
            <div id="basicPanel" class="tab-pane">
                <br>
                <div class="message_header">
                    <h3>个人基本信息</h3>
                </div>
                <!--<div class="fixed_message">-->
                    <!--<span><strong>您的固定信息：</strong></span><br>-->
                    <!--<span id="userfixed">您是一位男士，您的出生日期为1997-11-11，未婚，178CM</span><br>-->
                    <!--&lt;!&ndash;<a role="tab" href="#identityPanel" id="ridentity-tab"-->
                       <!--data-toggle="tab"-->
                       <!--aria-controls="identityPanel">申请修改信息</a>&ndash;&gt;-->
                <!--</div>-->
                <div class="message_main" style="height: auto;">
                    <form id="form-user-basic" class="basic_message_form">
                        <div class="form-group message_group">
                            <label class="col-md-3 control-label message-lable text-right">昵称:</label>
                            <input type="hidden" name="id" th:value="${session.user.id}">
                            <input id="nickname" name="nickname" class="col-md-4 form-control message_main_input"
                                   value="看云水漂流">
                        </div>
                        <div class="form-group message_group">
                            <label class="col-md-3 control-label message-lable text-right">手机号:</label>
                            <input id="tel" name="tel" class="col-md-4 form-control message_main_input"
                                   value="12321312">
                        </div>
                        <div class="form-group message_group">
                            <label class="col-md-3 control-label message-lable text-right">邮箱:</label>
                            <input id="email" name="email" disabled class="col-md-4 form-control message_main_input"
                                   value="jackiegss@163.com">
                        </div>

                        <!--<div class="form-group message_group">-->
                            <!--<label class="col-md-3 control-label message-lable text-right">月收入：</label>-->
                            <!--<div class="col-md-4" style="padding: 0px">-->
                                <!--<select name="salary" id="salary" class="form-control select-control">-->
                                    <!--<option value="-1">请选择</option>-->
                                <!--</select>-->
                            <!--</div>-->
                        <!--</div>-->
                       <!-- <div class="form-group message_group">
                            <label class="col-md-3 control-label message-lable text-right">身高：</label>
                            <div class="col-md-4" style="padding: 0px">
                                <select name="height" id="height" class="form-control select-control">
                                    <option value="-1">请选择</option>
                                    <option value="高中及以下">高中及以下</option>
                                    <option value="初中毕业">初中毕业</option>
                                    <option value="高中毕业">高中毕业</option>
                                    <option value="本科毕业">本科毕业</option>
                                    <option value="大专毕业">大专毕业</option>
                                    <option value="研究生">研究生</option>
                                    <option value="博士生及以上">博士生及以上</option>
                                </select>
                            </div>
                        </div>-->
                        <!--<div class="form-group message_group">-->
                            <!--<label class="col-md-3 control-label message-lable text-right">性取向：</label>-->
                            <!--<div class="col-md-4" style="padding: 0px">-->
                                <!--<select name="sexual" id="sexual" class="form-control select-control">-->
                                    <!--<option value="-1">请选择</option>-->
                                    <!--<option value="男">男</option>-->
                                    <!--<option value="女">女</option>-->
                                <!--</select>-->
                            <!--</div>-->
                        <!--</div>-->
                        <div class="form-group message_group">
                            <label class="col-md-3 control-label message-lable text-right">学历：</label>
                            <div class="col-md-4" style="padding: 0px">
                                <select name="education" id="education" class="form-control select-control">
                                    <option value="-1">请选择</option>
                                    <option value="高中及以下">高中及以下</option>
                                    <option value="初中毕业">初中毕业</option>
                                    <option value="高中毕业">高中毕业</option>
                                    <option value="本科毕业">本科毕业</option>
                                    <option value="大专毕业">大专毕业</option>
                                    <option value="研究生">研究生</option>
                                    <option value="博士生及以上">博士生及以上</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group message_group">
                            <label class="col-md-3 control-label message-lable text-right">地区：</label>
                            <div class="col-md-4" style="padding: 0px">
                                <select name="work_province" id="work_province"
                                        class="form-control select-control double-control">
                                    <option value="-1">请选择</option>
                                </select>
                                <select name="work_city" id="work_city"
                                        class="form-control select-control double-control" style="float: right">
                                    <option value="-1">请选择</option>
                                </select>
                            </div>
                        </div>
                        <!-- vip 专属 -->
                        <!--<div class="form-group message_group">-->
                            <!--<label class="col-md-3 control-label message-lable text-right">住房条件：</label>-->
                            <!--<div class="col-md-4" style="padding: 0px">-->
                                <!--<select name="liveCondition" id="liveCondition" class="form-control select-control">-->
                                    <!--<option value="-1">请选择</option>-->
                                    <!--<option value="1">有房</option>-->
                                    <!--<option value="0">无房</option>-->
                                <!--</select>-->
                            <!--</div>-->
                        <!--</div>-->

                        <div class="form-group">
                            <div class="col-md-6 text-right">
                                <input class="btn btn-primary " type="submit" value="提交" style="margin: 10px"/>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div id="settingPanel" class="tab-pane">
                <br>
                <div class="message_header">
                    <h3>系统设置</h3>
                </div>
                <div class="bs-example bs-example-tabs" role="tabpanel" data-example-id="togglable-tabs">
                    <div class="bs-example bs-example-tabs" role="tabpanel" data-example-id="togglable-tabs">
                        <ul id="Tab" class="nav nav-tabs nav-tabs1" role="tablist">
                            <li role="presentation" class="active"><a href="#modify_password" id="password-tab"
                                                                      role="tab" data-toggle="tab"
                                                                      aria-controls="modify_password"
                                                                      aria-expanded="true">修改密码</a></li>
                            <li role="presentation"><a href="#profile1" role="tab" id="profile-tab1" data-toggle="tab"
                                                       aria-controls="profile1">权限设置</a></li>
                        </ul>
                        <div id="myTabContent" class="tab-content">
                            <div role="tabpanel" class="tab-pane fade in active" id="modify_password"
                                 aria-labelledby="modify_password">
                                <div class="tab_box">
                                    <form id="form-reset-pwd" class="form-horizontal">
                                        <div class="form-group">
                                            <label for="newpwd" class="col-md-4 control-label message-lable text-right">密码：</label>
                                            <div class="col-md-4">
                                                <input type="hidden" name="id" th:value="${session.user.id}">
                                                <input type="password" name="newpwd" id="newpwd" class="form-control">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="password"
                                                   class="col-md-4 control-label message-lable text-right">确认密码：</label>
                                            <div class="col-md-4">
                                                <input type="password" name="password" id="password"
                                                       class="col-md-9 form-control">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-md-12 text-center">
                                                <input class="btn btn-primary" type="submit" value="提交"
                                                       style="margin: 10px"/>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div role="tabpanel" class="tab-pane fade" id="profile1" aria-labelledby="profile1">
                                <div class="tab_box">
                                    <form id="form-reset-auth">
                                        <div class="checkbox" style="  position: relative; left: 40%">
                                            <label>
                                                <input type="hidden" name="id" th:value="${session.user.id}">
                                                <input type="radio" name="authority" value="1"
                                                       th:checked="${session.user.authority==1}">
                                                所有人可见
                                            </label>
                                        </div>
                                        <div class="checkbox" style="  position: relative; left: 40%">
                                            <label>
                                                <input type="radio" name="authority" value="2"
                                                       th:checked="${session.user.authority==2}">
                                                仅我关注的人可见
                                            </label>
                                        </div>
                                        <div class="checkbox" style="  position: relative; left: 40%">
                                            <label>
                                                <input type="radio" name="authority" value="0"
                                                       th:checked="${session.user.authority==0}">
                                                所有人不可见
                                            </label>
                                        </div>
                                        <div class="form-group message_group ">
                                            <div class="col-md-12 text-center">
                                                <input class="btn btn-primary " type="submit" value="提交"
                                                       style="margin: 10px"/>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div id="orderPanel" class="page-order tab-pane">
                <!-- 搜索表单 开始 -->
                <!-- 搜索表单 开始 -->
                <form action="/home/order/page.action" method="GET" id="j-orderSearchForm" class="nice-validator n-default" novalidate="novalidate">
                    <!--顶部搜索 开始 @note: 第一期被废弃，前端不显示  -->
                    <div class="pageH-search dn">
                        <div class="pageHeader_info">
                            <div class="mod-topSearch">
                                <input type="text" class="topSearch_input" placeholder="输入商品标题或订单号" name="keywords" disabled="disabled">
                                <a href="javascript:void(0);" class="topSearch_btn" j-delegate="orderSearch"></a>
                            </div>
                            <div class="mod-topDropdown">
                                <div class="dropdown">
                                    <a class="dropdown-toggle" href="javascript:void(0);" j-delegate="toggleFilterPanel">
                                        <span class="dropdown-toggle_txt">更多筛选条件</span>
                                        <i class="arrow-icon"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--顶部搜索 结束-->

                    <!--订单搜索 开始-->
                    <div class="orderSearch_main" id="j-orderFilterPanel">
                        <ul class="whole">

                            <li class="whole_col1">
                                <label class="whole_label">成交时间：</label>
                                <div class="order_selectBox select_timeBox">
                                    <div>
                                        <input class="popupDatepicker" name="st" value="" data-initialval="" data-elem="fromDay" j-delegate="createDatePicker" data-minyear="2014" data-maxyear="" data-mindate="2014-09-30" data-maxdate="" placeholder="起始日期" onclick="WdatePicker()">
                                    </div>
                                </div>
                                <span class="sellCenter_thLine">-</span>
                                <div class="order_selectBox select_timeBox">
                                    <div>
                                        <input class="popupDatepicker" name="et" value="" data-initialval="" data-elem="toDay" j-delegate="createDatePicker" data-minyear="2014" data-maxyear="" data-mindate="2014-09-30" data-maxdate="" placeholder="截止日期" onclick="WdatePicker()">
                                    </div>
                                </div>
                            </li>

                            <!-- 卖家昵称 筛选条件 @note: 第一期废弃，前端不显示 -->





                            <li class="whole_col3">
                                <div class="pageH-btn">
                                    <a href="javascript:void(0);" class="mod-comm_btn" j-delegate="advancedOrderSearch">搜索</a>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <!--订单搜索 结束-->
                </form>
                <!-- 搜索表单 结束 -->
                <!-- 搜索表单 结束 -->


                <!-- 顶部操作分页 开始 @note: 第一期被废弃，前端不显示了 -->

                <!-- 顶部操作分页 结束 -->
                <!-- 主体 开始 -->
                <div class="orderT_bd orderTable_newPage" data-elem="loadingTipContainer">
                    <!-- foreach start 以店铺为单位进行循环 -->
                    <!-- 单店铺购物车 开始 -->
                    <!--  分包裹显示 start -->
                    <table class="newOrder_tableCon" width="100%" border="0" cellspacing="0" cellpadding="0" j-delegate="hoverAddClass" data-hoveraddclass="shopOrderList-selected">
                        <colgroup>
                            <col class="baobei">
                            <col class="price">
                            <col class="nub">
                            <col class="goods_operation">
                            <col class="disbursements">
                            <col class="transaction_status">
                            <col class="trade_operate">
                        </colgroup>
                        <tbody>
                        <tr class="tableCon_titleTr">
                            <td colspan="7">

                                <div class="shop_info  ml10 ml10" style="float:left">
                                    <div class="cenOrder_box01">
							<span class="shop_info_date">
								<!-- <em class="mr10 fsb">2018-05-28 11:38</em> -->
								<em class="mr10 fsb">2018-05-28</em>
							</span>
                                        <!--  <span class="shop_info_orderNumber">
                                            <em>交易号：334475672952</em>
                                        </span>  -->
                                        <span class="shop_info_orderNumber">
								<em>订单号：234475118116</em>
							</span>
                                    </div>
                                    <span class="shop_info_site">
    <span>主题---</span>
    <span>称呼</span>

						</span>
                                    <a class="contact_link dn" href="javascript:void(0);" rseat="1501231_cntctus" data-pb="r=爱奇艺i71官方旗舰店&amp;stno=1151376996" j-delegate="openContactServantWindow" data-shopid="1151376996" onclick=""></a>
                                </div>
                                <div style="float:left">想法想法想法想法想法想法想法想法想法想法想法想法想法想法想法想法想法想法想法想法想法想法想法想法想法想法想法想法想法想法想法想法想法想法想法想法</div>
                                <!-- 如果 此订单参与送会员活动 -->
                            </td>
                        </tr>
                        <!-- foreach start 一个商品一个商品地 循环 -->
                        <tr class="tableCon_conTr">
                            <td class="baobei">
                                <a href="/item/19rro89v9k" target="_blank" class="activity_pic">
							<span class="order_picBox">
								<img src="" alt="【买就送手柄】">
							</span>
                                </a>
                                <div class="orderItems_content">
                                    <div class="orderItems_link">
                                        <a href="/item/19rro89v9k" target="_blank">【买就送手柄】爱奇艺i71定制VR-MAX4蓝光VR眼镜4代自带耳机</a>
                                    </div>
                                    <div class="orderItems_about">
                                        <p class="info_section" title="颜色: 黑色送手柄">
                                            <span class="tx-inline">颜色: 黑色送手柄</span>
                                        </p></div>
                                </div>
                            </td>
                            <td class="price">
                                <div class="price_inner">
                                    <div class="priceItems">
                                        <em >总价格</em>
                                    </div>
                                    <div class="priceItems">
                                        <em class="price-now">108</em>
                                    </div>
                                </div>
                            </td>

                            <td class="nub">
                                <div class="nub_inner"><p>哈尔滨哈尔滨哈尔滨</p>

                                </div>
                            </td>
                            <td class="goods_operation">
                                <div class="goodsOPeration_inner">
                                    <div class="itemOperateItems"><p>13768134562</p>

                                    </div>
                                </div>
                            </td>
                            <!-- 只有 第一个商品的ul li中才输出总价 -->
                            <td rowspan="1" class="disbursements">
                                <div class="disbursements_inner">
                                    <div class="sumItems">
                                        <em class="sumItems_price">108</em>
                                    </div>
                                    <div class="sumItems">
                                        <p class="sumItems_info" title="（含运费：0）">（含运费：0 ）</p>
                                    </div>
                                </div>
                            </td>

                            <td rowspan="1" class="transaction_status">
                                <div class="transStatus_inner">
                                    <div class="statusItems">等待买家付款</div>
                                    <div class="statusItems">
                                        <a class="myCen_orderInfo" href="/home/order/detail.action?pid=234475118116" target="_blank">订单详情</a>
                                    </div>
                                    <!-- 查看物流信息展示弹层时添加class order_wlPop (分支1.6.1)-->
                                    <div class="statusItems ">
                                    </div>
                                </div>
                            </td>

                            <td rowspan="1" class="trade_operate">
                                <div class="tradeOPerate_inner">
                                    <div class="operateItems">
                                        <a href="javascript:void(0);" class="mod-comm_btn" target="_blank" j-delegate="payAction" data-isglobal="false">付款</a>
                                    </div>
                                    <div class="operateItems mt5">
                                        <a href="javascript:void(0);" class="myCen_orderInfo-comm_btn" j-delegate="cancel_order">取消订单</a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <!-- 分包裹显示 end -->
                </div>
                <!-- 主体 结束is-hidden -->
            </div>
        </div>

    </div>
</div>

<!--页面尾部-->
<th:block th:include="front/common/footer::foot"/>

<!-- 图片上传 模态框（Modal） -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">请选择要上传的照片</h4>
            </div>
            <div class="modal-body">
                <form enctype="multipart/form-data">
                    <div class="form-group">
                        <div class="file-loading">
                            <input id="file-1" type="file" name="photos" multiple class="file"
                                   data-overwrite-initial="false">
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal">完成</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>

<!-- 头像上传 模态框（Modal） -->
<div class="modal fade" id="myImg" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myImgModalLabel">请选择要上传的头像</h4>
            </div>
            <div class="modal-body">
                <form enctype="multipart/form-data">
                    <div class="form-group">
                        <div class="file-loading">
                            <input id="img" type="file" name="photo"  class="file"
                                   data-overwrite-initial="false">
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal">完成</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>
<script>$("#order-tab").click(function(){
    queryOrder();
});
$(".pageH-btn a").click(function () {
    queryOrder();
})
</script>
<script>
    function queryOrder() {
        $(".newOrder_tableCon tbody").remove();
        var startData=$("input[name=\"st\"]").val();
        var endData=$("input[name=\"et\"]").val();
        console.log(startData,endData);
        $.post("/queryOrder",
            {
                startData:startData,
                endData:endData
            },
            function (data,status) {
                // console.log(data);
                var responseData=$.parseJSON(data);
                console.log(responseData);
                if(responseData["state"]=="success"){
                    var orderlist=$.parseJSON(responseData["data"]);
                    console.log(orderlist);
                    for (var i=0;i<orderlist.length;i++){
                        var oneItemData=orderlist[i];
                        console.log(oneItemData);
                        var htmlText="<tbody>\n" +
                            "                        <tr class=\"tableCon_titleTr\">\n" +
                            "                            <td colspan=\"7\">\n" +
                            "\n" +
                            "                                <div class=\"shop_info  ml10 ml10\" style=\"float:left\">\n" +
                            "                                    <div class=\"cenOrder_box01\">\n" +
                            "\t\t\t\t\t\t\t<span class=\"shop_info_date\">\n" +
                            "\n" +
                            "\t\t\t\t\t\t\t\t<em class=\"mr10 fsb\">"+formatDate(oneItemData["orderTime"])+"</em>\n" +
                            "\t\t\t\t\t\t\t</span>\n" +
                            "                                        <span class=\"shop_info_orderNumber\">\n" +
                            "\t\t\t\t\t\t\t\t<em>订单号："+oneItemData["orderId"]+"</em>\n" +
                            "\t\t\t\t\t\t\t</span>\n" +
                            "                                    </div>\n" +
                            "                                    <span class=\"shop_info_site\">\n" +
                            "    <span>"+oneItemData["activityTheme"]+"---</span>\n" +
                            "    <span>"+oneItemData["nickname"]+"</span>\n" +
                            "\n" +
                            "\t\t\t\t\t\t</span>\n" +
                            "                                    <a class=\"contact_link dn\" href=\"javascript:void(0);\" rseat=\"1501231_cntctus\" data-pb=\"r=爱奇艺i71官方旗舰店&amp;stno=1151376996\" j-delegate=\"openContactServantWindow\" data-shopid=\"1151376996\" onclick=\"\"></a>\n" +
                            "                                </div>\n" +
                            "                                <div style=\"float:left\">"+oneItemData["idea"]+"</div>\n" +
                            "                       \n" +
                            "                            </td>\n" +
                            "                        </tr>\n" +
                            "\n" +
                            "                        <tr class=\"tableCon_conTr\">\n" +
                            "                            <td class=\"baobei\">\n" +
                            "                                <a href=\"/goodsdetail.html?itemid="+oneItemData["taocanId"]+"\" target=\"_blank\" class=\"activity_pic\">\n" +
                            "\t\t\t\t\t\t\t<span class=\"order_picBox\">\n" +
                            "\t\t\t\t\t\t\t\t<img src=\""+oneItemData["taocanImage"]+"\" alt=\""+oneItemData["taocanName"]+"\">\n" +
                            "\t\t\t\t\t\t\t</span>\n" +
                            "                                </a>\n" +
                            "                                <div class=\"orderItems_content\">\n" +
                            "                                    <div class=\"orderItems_link\">\n" +
                            "                                        <a href=\"/goodsdetail.html?itemid="+oneItemData["taocanId"]+"\"" +"target=\"_blank\">"+oneItemData["taocanName"]+"</a>\n" +
                            "                                    </div>\n" +
                            "                                    <div class=\"orderItems_about\">\n" +
                            "                                        <p class=\"info_section\" title=\""+oneItemData["versionDisplayName"]+"\">\n" +
                            "                                            <span class=\"tx-inline\">"+oneItemData["versionDisplayName"]+"</span>\n" +
                            "                                        </p></div>\n" +
                            "                                </div>\n" +
                            "                            </td>\n" +
                            "                            <td class=\"price\">\n" +
                            "                                <div class=\"price_inner\">\n" +
                            "                                    <div class=\"priceItems\">\n" +
                            "                                        <em >总价格</em>\n" +
                            "                                    </div>\n" +
                            "                                    <div class=\"priceItems\">\n" +
                            "                                        <em class=\"price-now\">"+oneItemData["totalPrice"]+"起"+"</em>\n" +
                            "                                    </div>\n" +
                            "                                </div>\n" +
                            "                            </td>\n" +
                            "\n" +
                            "                            <td class=\"nub\">\n" +
                            "                                <div class=\"nub_inner\"><p>"+oneItemData["activityArea"]+"</p>\n" +
                            "\n" +
                            "                                </div>\n" +
                            "                            </td>\n" +
                            "                            <td class=\"goods_operation\">\n" +
                            "                                <div class=\"goodsOPeration_inner\">\n" +
                            "                                    <div class=\"itemOperateItems\"><p>"+oneItemData["telPhone"]+"</p>\n" +
                            "\n" +
                            "                                    </div>\n" +
                            "                                </div>\n" +
                            "                            </td>\n" +
                            "                            <!-- 只有 第一个商品的ul li中才输出总价 -->\n" +
                            "                            <td rowspan=\"1\" class=\"disbursements\">\n" +
                            "                                <div class=\"disbursements_inner\">\n" +
                            "                                    <div class=\"sumItems\">\n" +
                            "                                        <em class=\"sumItems_price\">"+oneItemData["prepayPrice"]+"</em>\n" +
                            "                                    </div>\n" +
                            "                                    <div class=\"sumItems\">\n" +
                            "                                        <p class=\"sumItems_info\" title=\"（预付价格）\">（预付价格）</p>\n" +
                            "                                    </div>\n" +
                            "                                </div>\n" +
                            "                            </td>\n" +
                            "\n" +
                            "                            <td rowspan=\"1\" class=\"transaction_status\">\n" +
                            "                                <div class=\"transStatus_inner\">\n" +
                            "                                    <div class=\"statusItems\">等待买家付款</div>\n" +
                            "                                    <div class=\"statusItems\">\n" +
                            "                                        \n" +
                            "                                    </div>\n" +
                            "                                    <!-- 查看物流信息展示弹层时添加class order_wlPop (分支1.6.1)-->\n" +
                            "                                    <div class=\"statusItems \">\n" +
                            "                                    </div>\n" +
                            "                                </div>\n" +
                            "                            </td>\n" +
                            "\n" +
                            "                            <td rowspan=\"1\" class=\"trade_operate\">\n";

                        var htmltext2="<div class=\"tradeOPerate_inner\">\n" +
                            "</div>\n" +
                            "</td>\n" +
                            "</tr>\n" +
                            "</tbody>";
                        if(oneItemData["state"]==0){
                            htmlText=htmlText.replace('等待买家付款', '等待买家付款');
                            htmltext2="<div class=\"tradeOPerate_inner\">\n" +
                                "<div class=\"operateItems\"><a href=\"javascript:void(0);\" class=\"mod-comm_btn\" target=\"_blank\" j-delegate=\"payAction\" data-isglobal=\"false\">付款</a></div>\n" +
                                "<div class=\"operateItems mt5\"><a href=\"javascript:void(0);\" class=\"myCen_orderInfo-comm_btn\" j-delegate=\"cancel_order\">取消订单</a></div>\n" +
                                "</div>\n" +
                                "</td>\n" +
                                "</tr>\n" +
                                "</tbody>";
                        }
                        if(oneItemData["state"]==1){
                            htmlText=htmlText.replace('等待买家付款', '买家已付款');
                            htmltext2="<div class=\"tradeOPerate_inner\">\n" +
                                "</div>\n" +
                                "</td>\n" +
                                "</tr>\n" +
                                "</tbody>";
                        }
                        if(oneItemData["state"]==2){
                            htmlText=htmlText.replace('等待买家付款', '订单已关闭');
                            htmltext2="<div class=\"tradeOPerate_inner\">\n" +
                                "</div>\n" +
                                "</td>\n" +
                                "</tr>\n" +
                                "</tbody>";
                        }
                        $(".newOrder_tableCon").append(htmlText+htmltext2);
                    }
                }
            }

        )
    }
    function   formatDate(now)   {
        var   now= new Date(now);
        var   year=now.getFullYear();
        var   month=now.getMonth()+1;
        var   date=now.getDate();
        var   hour=now.getHours();
        var   minute=now.getMinutes();
        var   second=now.getSeconds();
        return   year+"年"+fixZero(month,2)+"月"+fixZero(date,2)+"日"+fixZero(hour,2)+":"+fixZero(minute,2)+":"+fixZero(second,2);
    }
    function fixZero(num,length){
        var str=""+num;
        var len=str.length;     var s="";
        for(var i=length;i-->len;){
            s+="0";
        }
        return s+str;
    }
</script>
</body>
</html>	